input {
    padding: 0.6rem 1rem;
    border: 0;
    border-radius: 0.5rem;
    max-width: 90%;
    background-color: #eaeaea;
}

input + input {
    margin-top: 1rem;
}

input::placeholder {
    color: gray;
    font-weight: 500;
}

.add-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    cursor: pointer;
}

.add-container b {
    color: green;
    margin-right: 0.2rem;
}

.ReactModal__Content#add,
.ReactModal__Content#results {
    width: 90%;

    max-width: 300px;
    max-height: 300px;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ReactModal__Content#results {
    max-height: unset;
    max-width: 500px;
}

.department-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    max-width: 300px;
    padding: 2rem 0;
}

.department-list .department-item {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.department-list .department-item .item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.run-btn {
    margin-top: 1rem;
    padding: 0.4rem 1rem;
    border: 0;
    border-radius: 0.6rem;
    background-color: red;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.results-departs-list {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}

.results-departs-list .results-departs-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}
